.main{
    padding: clamp(20px, 3%, 60px) clamp(15px, 2%, 40px); 
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Source Sans 3', sans-serif;
    height: 200vh;
}

.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:white;
    font-weight: 700;
}


.nav-items{
    display: flex;
    font-style: none;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    justify-content: center;
}

.nav-items >li{
    margin-left: clamp(10px,2%,40px);
    margin-right: clamp(10px,2%,40px);
    text-decoration: none;
    font-style: none;
    width: fit-content;
}

.navlink{
    text-decoration: none;
    color: black;
    font-size: clamp(8px,1.3vw,30px);
}

.navlink:hover{
    text-decoration: underline;
    opacity: 50%;
}


.namehold{
    text-align: center;
    position: relative;
    top: 5vh;
}

.name{
    font-size: clamp(10px,2vw,50px);
    letter-spacing: clamp(.5px,.06vw,5px);
    line-height: clamp(10px,2vw,50px);
    font-weight: 700;
}

.divider{
    position: relative;
    top: 6px;
    height: 4px;
    width: 3.2vw;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.divider.i{
    margin-bottom: 40px;
}

.infohold{
    padding: 2.3% 4%;
    position: relative;
    top: 30vh;
    width: 40vw;
}

.skills{
    padding: 2.3% 4%;
    position: relative;
    top: 5vh;
    width: 30vw;
}

.title{
    font-size: clamp(10px,1.6vw,40px);
    letter-spacing: clamp(.5px,.06vw,5px);
    line-height: clamp(10px,2vw,50px);
    font-weight: 700;
    width: 10vw;
    
}

.servphoto{
    width: 500px;
}

.servicep{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}

.servdesc{
    margin-top: auto;
    margin-bottom: auto;
    width: 55vw;
}

.navlink{
    text-decoration: none;
    color: black;
    font-size: clamp(8px,1.3vw,30px);
}

.navlink:hover{
    text-decoration: underline;
    opacity: 50%;
}